@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Desenvolvedor @ViewData["Aluno"]</p>

<address>
    <strong>Mais Informações : </strong>
    <a href="https://www.linkedin.com/in/ewerton-maik-174619a9/">Linkedin @ViewData["Aluno"]</a>
</address>