@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Santa Catarina - Brusque<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:ewertonmsa@hotmail.com">ewertonmsa@hotmail.com</a><br />
</address>
